# the database file is too large for github, but can easily be recreated
*.db

# fasta reference genome is ~3GB, don't want to endlessly back that up!
hg19/*.fa
*.fa.fai

# various intermediate files are created by scripts
*.allexons*

# until it's fully automated, the random_sites folder contains some massive files
random_sites/

# hg19 fodler contains links, not files, but just to be safe
hg19/

# Try to ignore temp files from gedit
*.*~
